In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
crew = pd.read_csv("tmdb_5000_credits.csv")

In [5]:
crew.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
movies = movies.merge(crew, on = "title")

In [7]:
df = movies[["id", "title", "genres", "overview", "cast", "crew", "keywords"]]

In [8]:
df.head(1)

,id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."

In [9]:
import ast
def convert(string):
    L = []
    for i in ast.literal_eval(string):
        L.append(i["name"])
    return L

In [10]:
df["genres"] = df["genres"].apply(convert)

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\4187049850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["genres"] = df["genres"].apply(convert)

In [11]:
df.head(1)

,id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."

In [12]:
df['keywords'] = df["keywords"].apply(convert)

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\3767605209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords'] = df["keywords"].apply(convert)

In [13]:
df.isnull().sum()

id          0
title       0
genres      0
overview    3
cast        0
crew        0
keywords    0
dtype: int64

In [14]:
df.dropna(inplace = True)

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\1791587065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace = True)

In [15]:
df.isnull().sum()

id          0
title       0
genres      0
overview    0
cast        0
crew        0
keywords    0
dtype: int64

In [16]:
def convert2(string):
    L = []
    count = 0
    for i in ast.literal_eval(string):
        if count != 5:
            L.append(i["name"])
            count += 1
    return L

In [17]:
df["cast"] = df["cast"].apply(convert2)

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\3329730649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["cast"] = df["cast"].apply(convert2)

In [18]:
df['cast'].values

array([list(['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Stephen Lang', 'Michelle Rodriguez']),
       list(['Johnny Depp', 'Orlando Bloom', 'Keira Knightley', 'Stellan Skarsgård', 'Chow Yun-fat']),
       list(['Daniel Craig', 'Christoph Waltz', 'Léa Seydoux', 'Ralph Fiennes', 'Monica Bellucci']),
       ...,
       list(['Eric Mabius', 'Kristin Booth', 'Crystal Lowe', 'Geoff Gustafson', 'Benjamin Hollingsworth']),
       list(['Daniel Henney', 'Eliza Coupe', 'Bill Paxton', 'Alan Ruck', 'Zhu Shimao']),
       list(['Drew Barrymore', 'Brian Herzlinger', 'Corey Feldman', 'Eric Roberts', 'Griffin Dunne'])],
      dtype=object)

In [19]:
def info_director(string):
    L = []
    for i in ast.literal_eval(string):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [20]:
df['crew']= df['crew'].apply(info_director)

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\4057279549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew']= df['crew'].apply(info_director)

In [21]:
df.head(1)

,id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[culture clash, future, space war, space colon..."

In [22]:
df['overview'] = df['overview'].apply(lambda x:x.split())

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\2950014412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overview'] = df['overview'].apply(lambda x:x.split())

In [23]:
df.head()

,id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"[based on novel, mars, medallion, space travel..."

In [24]:
df['cast'] = df['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
df['genres'] = df['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
df['crew'] = df['crew'].apply(lambda x:[i.replace(" ", "") for i in x])
df['keywords'] = df['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\2724444002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast'] = df['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\2724444002.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres'] = df['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\2724444002.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew'] = df['crew'].apply(lambda x:[i.replace(" ", "") for i in x])
C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\2724444002.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords'] = df['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])

In [25]:
df.head(1)

,id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ..."

In [26]:
df['tag'] = df['overview'] + df['genres']  + df['keywords'] + df['cast'] + df['crew']

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\2543034708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tag'] = df['overview'] + df['genres']  + df['keywords'] + df['cast'] + df['crew']

In [27]:
new_df = df[["id", 'title', 'tag']]

In [28]:
new_df["tag"] = new_df['tag'].apply(lambda x:" ".join(x))

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\1928737546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tag"] = new_df['tag'].apply(lambda x:" ".join(x))

In [29]:
new_df['tag']  = new_df['tag'].apply(lambda x:x.lower())

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\2965760125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']  = new_df['tag'].apply(lambda x:x.lower())

In [30]:
new_df['tag'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez jamescameron'

In [31]:
from nltk import PorterStemmer
ps = PorterStemmer()
def stem(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [32]:
new_df['tag'] = new_df['tag'].apply(stem)

C:\Users\kaush\AppData\Local\Temp\ipykernel_23816\4074900442.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(stem)

In [33]:
new_df['tag'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang michellerodriguez jamescameron'

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words = "english", max_features= 5000)

In [35]:
vectors = cv.fit_transform(new_df['tag']).toarray()

In [36]:
vectors[1]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [37]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [38]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [39]:
similarity[0]

array([1.        , 0.08006408, 0.08492078, ..., 0.04441156, 0.        ,
       0.        ])

In [40]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    dis = similarity[movie_index]
    movie_list = sorted(list(enumerate(dis)), reverse = True, key = lambda x: x[1] )[1:6]

    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [43]:
recommend("Independence Day")

Independence Daysaster
Meet Dave
Aliens vs Predator: Requiem
Escape from Planet Earth
The Day the Earth Stood Still